<!doctype>
<html>
  <head>
    <link href="{{ site.url }}/css/base.css" rel="stylesheet">
    <script src="{{ site.url }}/js/prism.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.3/vivus.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png?v1">
  </head>
  <body class="flex flex-col min-h-full font-sans bg-grey-lighter text-black leading-normal">
