<nav class="w-full border-t-8 border-red flex justify-center px-8 pt-8">
  <a href="{{ site.url }}" class="flex items-center flex-col no-underline" style="max-width: 22rem;">
    <div class="flex items-center flex-col sm:flex-row mb-3">
      <div class="mr-4">
        <img class="h-16" src="{{ site.url }}/img/ruby.svg" />
      </div>
      <h1 class="text-4xl text-black">Itty Bitty Ruby</h1>
    </div>
    <h2 class="text-grey-dark font-weight font-normal text-base text-center">Little chances to make big improvements in your ruby and rails code. 60 second reads.</h2>
  </a>

</nav>
