<div class="w-full md:w-1/2 p-4 sm:p-8">
  <div class="relative w-full">
    <a href="{{ post.url }}" class="post-card bg-white max-w-sm shadow-lg rounded-lg overflow-hidden px-6 py-4 block no-underline text-black mx-auto">
      <h3 class="text-center text-xl font-normal mb-1">{{ post.title }}</h3>
      <h6 class="text-center text-base text-grey-dark font-normal mb-3">{{ post.date | date_to_string }}</h6>
      <!-- <img class="w-100" src="{{ site.url }}/img/comics/{{ post.title | slugify }}.png" /> -->
      <div class="font-mono text-3xl text-center text-red">{{ post.jumbo }}</div>
      <div class="flex justify-center items-center mt-4">
        <span class="text-lg text-grey-dark mr-3">View Post</span>
        <img class="w-8 h-8" src="{{ site.url }}/img/disclosure-indicator.png" />
      </div>
    </a>
    <a href="{{ post.url }}" class="badge text-red rounded-full py-1 px-2 mr-3 leading-none no-underline font-bold"><span class="text-xl">&bullet;</span> Unread</a>
  </div>
</div>
