$red: #DC3545;

body {
  background-color: #f1f5f8 !important
}

.bg-red {
  background-color: $red;
}

.text-red {
  color: $red;
}

.post-card {
  transition: box-shadow .2s;
  &:hover {
    box-shadow:
    0 30px 40px 0 rgba(0,0,0,0.11),
    0 10px 15px 0 rgba(0,0,0,0.08);
  }
}

code {
  background-color: #f1f5f8;
  color: $red;
}

.badge {
  position: absolute;
  right: calc(50% - 9rem);
  top: 2.95rem;
  &:visited {
    color: white !important;
  }
}
