{% include head.html %}
{% include nav.html %}
  <div class="flex-1">
    <div class="bg-white mx-auto max-w-md shadow-lg rounded-lg overflow-hidden px-6 py-4 block no-underline text-black mt-8">
      <h1 class="text-xl font-normal">{{ page.title }}</h1>
      <h6 class="text-base text-grey-dark font-normal mb-4">{{ page.date | date_to_string }}</h6>
      <img class="w-100 mb-3" src="{{ site.url }}/img/comics/{{ page.title | slugify }}.png" />

<!--       <object id="my-svg" type="image/svg+xml" data="{{ site.url }}/img/test-2.svg"></object>
      <script>
        var comic = new Vivus('my-svg', {type: 'oneByOne', duration: 2000});
        console.log(comic.map);
      </script> -->

      {{ content }}
    </div>
    <a href="#" class="no-underline text-grey mx-auto mt-6 table hover:underline">Improvements or fixes? Contribute on GitHub ❤️</a>
  </div>
{% include footer.html %}
